[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/ibuffer-vc"]
	path = vendor/ibuffer-vc
	url = https://github.com/purcell/ibuffer-vc.git
[submodule "vendor/color-theme-solarized"]
	path = vendor/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule "vendor/git-commit-mode"]
	path = vendor/git-commit-mode
	url = https://github.com/svend/git-commit-mode.git
[submodule "vendor/ibuffer-tramp"]
	path = vendor/ibuffer-tramp
	url = https://git.ciffer.net/svend/ibuffer-tramp.git
[submodule "vendor/gnus-alias"]
	path = vendor/gnus-alias
	url = https://github.com/emacsmirror/gnus-alias.git
